:host {
  display: block;
  width: 100%;
  height: 100%;
}

.panel-border {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--panel-bg); /* Используем новую переменную фона */
}

.panel-content {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  display: flex;
  gap: var(--gap);
}
