@import "tailwindcss";

@theme {
  --color-accent-color: var(--accent-color);
  --color-bg-color: var(--bg-color);
  --color-border-color: var(--border-color);

  --color-text-main: var(--text-color);
  --color-text-header: var(--header-text-color);

  --background-image-header-bg: var(--header-bg);

  --shadow-volume:
    0 6px 10px rgba(0, 0, 0, 0.3),
    inset 2px 2px 0px var(--shadow-light-color),
    inset -2px -2px 0px var(--shadow-dark-color);

  --shadow-header-highlight: var(--header-shadow) 1px 1px 1px var(--shadow-dark-color);

  --font-xp: "Tahoma", "Verdana", "Segoe UI", sans-serif;

  --background-image-button-shiny: linear-gradient(
    to bottom,
    var(--button-gradient)
  );

  --shadow-button-pressed: inset 2px 2px 4px rgba(0, 0, 0, 0.3),
  inset -1px -1px 2px rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #0058e6;
    --bg-color: #ece9d8;
    --border-color: #00309c;
    --text-color: #3c3939;

    --button-focus-border: #e5a00d;

    --shadow-dark-color: rgba(0, 0, 0, 0.25);
    --shadow-light-color: rgba(255, 255, 255, 0.9);

    --header-gradient-from: #0058e6;
    --header-gradient-to: #3a91ff;
    --header-text-color: #ead4d4;

    --header-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    --header-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);

    --button-gradient:
      rgba(255, 255, 255, 0.0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 1);

    --bg-image: url("../public/assets/bg-light.jpg")
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #d60a1e;
    --bg-color: #352d2d;
    --border-color: #a5120b;
    --text-color: #cccaca;

    --button-focus-border: #ff3232;

    --shadow-dark-color: rgba(0, 0, 0, 0.8);
    --shadow-light-color: rgba(255, 50, 50, 0.15);

    --header-gradient-from: #4c0805;
    --header-gradient-to: #9b111e;
    --header-text-color: #ffcccc;

    --header-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    --header-text-shadow: 1px 1px 2px rgba(207, 132, 132, 0.8);

    --button-gradient:
      rgba(0,0,0, 0.0),
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.75),
      rgba(0,0,0, 1);

    --bg-image: url("../public/assets/bg-dark.png")
  }
}

:root {
  --header-bg: linear-gradient(to right, var(--header-gradient-from), var(--header-gradient-to));
}

html, body {
  background-color: var(--bg-color);

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  font-family: var(--font-xp);
  -moz-osx-font-smoothing: grayscale;
}



@utility header-text-shadow{
  text-shadow: var(--header-text-shadow);
}
