@import "tailwindcss";

@theme {
  --color-accent-color: var(--accent-color);
  --color-bg-color: var(--bg-color);
  --color-border-color: var(--border-color);

  --color-text-main: var(--text-color);
  --color-text-header: var(--header-text-color);

  --color-taskbar-tile: var(--taskbar-tile-color);

  --color-login-bg-color: var(--login-bg-color);
  --color-login-border-color: var(--login-borders-color);
  --color-login-text-color: var(--login-text-color);

  --background-image-header-bg: var(--header-bg);

  --border-image-login-border: linear-gradient(
    to right,
    var(--login-border-gradient)
  );

  --shadow-volume:
    0 6px 10px rgba(0, 0, 0, 0.3),
    inset 2px 2px 0px var(--shadow-light-color),
    inset -2px -2px 0px var(--shadow-dark-color);

  --shadow-user:
    0 6px 10px rgba(0, 0, 0, 1),
    inset 3px 3px 1rem var(--shadow-dark-color),
    inset -3px -3px 1rem var(--shadow-dark-color);

  --shadow-user-hover:
    0 6px 10px rgba(0, 0, 0, 1),
    inset 1px 1px 0.25rem var(--shadow-light-color),
    inset -1px -1px 0.25rem var(--shadow-light-color);

  --shadow-user-active:
    0 6px 10px rgba(0, 0, 0, 1),
    inset 4px 4px 1.1rem var(--shadow-user-active),
    inset -4px -4px 1.1rem var(--shadow-user-active);

  --shadow-taskbar-tile:
    0 6px 10px rgba(0, 0, 0, 0.3),
    inset 1px 1px 5px var(--shadow-taskbar-tile-light),
    inset -1px -1px 5px var(--shadow-taskbar-tile-light);

  --shadow-taskbar-tile-hover:
    0 6px 10px rgba(0, 0, 0, 0.3),
    inset 1px 1px 2px var(--shadow-dark-color),
    inset -1px -1px 2px var(--shadow-dark-color);

  --shadow-taskbar-tile-active:
    0 6px 10px rgba(0, 0, 0, 0.3),
    inset 2px 2px 0.65rem var(--shadow-user-active),
    inset -2px -2px 0.65rem var(--shadow-user-active);

  --shadow-header-highlight: var(--header-shadow) 1px 1px 1px var(--shadow-dark-color);

  --font-xp: "Tahoma", "Verdana", "Segoe UI", sans-serif;

  --background-image-button-shiny: linear-gradient(
    to bottom,
    var(--button-gradient)
  );

  --background-image-user-gradient: linear-gradient(
    to bottom,
    var(--user-gradient)
  );

  --background-image-login-separator: linear-gradient(
    to bottom,
    var(--login-separator-gradient)
  );

  --shadow-button-pressed: inset 2px 2px 4px rgba(0, 0, 0, 0.3),
  inset -1px -1px 2px rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #0058e6;
    --bg-color: #ece9d8;
    --border-color: #00309c;
    --text-color: #3c3939;

    --button-focus-border: #e5a00d;

    --shadow-dark-color: rgba(0, 0, 0, 0.25);
    --shadow-light-color: rgba(255, 255, 255, 0.9);
    --shadow-taskbar-tile-light: var(--shadow-light-color);
    --shadow-user-active: rgba(0, 0, 0, 0.75);

    --header-gradient:
        #a8bff6,
        #498ae4,
        #4281f6,
        #0058e6,
        #033e9e,
        #00309c;

    --header-text-color: #ead4d4;

    --header-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    --header-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);

    --button-gradient:
      rgba(255, 255, 255, 0.0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 1);

    --bg-image: url("../public/assets/bg-light.jpg");

    --user-gradient:
      rgb(41, 97, 32),
      rgb(35, 138, 17),
      rgb(38, 154, 15),
      rgb(41, 161, 15);

    --taskbar-tile-color: #3584d6;

    --login-bg-color: rgb(107, 115, 213);
    --login-borders-color: #00309c;

    --login-text-color: #fdf5f5;

    --login-border-gradient:
      rgba(255, 255, 255, 0.35),
      rgba(225, 218, 218, 0.8),
      rgb(170, 127, 40),
      rgb(209, 184, 25),
      rgba(225, 218, 218, 0.8),
      rgba(255, 255, 255, 0.35);

    --login-separator-gradient:
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.45),
      rgb(255, 253, 254, 0.85),
      rgb(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #d60a1e;
    --bg-color: #352d2d;
    --border-color: #a5120b;
    --text-color: #cccaca;

    --button-focus-border: #ff3232;

    --shadow-dark-color: rgba(0, 0, 0, 0.5);
    --shadow-light-color: rgba(255, 50, 50, 0.15);
    --shadow-taskbar-tile-light: rgba(35, 32, 32, 0.9);
    --shadow-user-active: rgba(0, 0, 0, 0.75);

    --header-gradient:
      #977575,
      #bd5252,
      #ca3535,
      #e12323,
      #ec1818,
      #a5120b;

    --header-text-color: #ffcccc;

    --header-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    --header-text-shadow: 1px 1px 2px rgba(207, 132, 132, 0.8);

    --button-gradient:
      rgba(0,0,0, 0.0),
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.75),
      rgba(0,0,0, 1);

    --bg-image: url("../public/assets/bg-dark.png");

    --user-gradient:
      rgb(230, 85, 108),
      rgb(179, 69, 85),
      rgb(108, 34, 45),
      rgb(66, 10, 17);

    --taskbar-tile-color: #da5050;

    --login-bg-color: #684444;
    --login-borders-color: #4a0e0e;

    --login-text-color: #e3abab;

    --login-border-gradient:
      rgba(255, 255, 255, 0.35),
      rgba(99, 92, 92, 0.8),
      rgb(193, 189, 177),
      rgb(80, 74, 74),
      rgba(99, 92, 92, 0.8),
      rgba(255, 255, 255, 0.35);

    --login-separator-gradient:
      rgba(255, 255, 255, 0),
      rgba(126, 115, 117, 0.75),
      rgb(35, 32, 34),
      rgb(35, 32, 34),
      rgba(126, 115, 117, 0.75),
      rgba(255, 255, 255, 0);
  }
}

:root {
  --header-bg: linear-gradient(to bottom, var(--header-gradient));
}

html, body {
  background-color: var(--bg-color);

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  font-family: var(--font-xp);
  -moz-osx-font-smoothing: grayscale;
}



@utility header-text-shadow{
  text-shadow: var(--header-text-shadow);
}

@utility login-border-gradient{
  border-image: var(--border-image-login-border) 1;
}
