@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;800&display=swap');

/* === 1. ГЛОБАЛЬНЫЙ СБРОС (Reset) === */
*, *::before, *::after {
  /* Теперь border и padding не раздувают ширину элемента */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  /* Убираем лишние скроллы, если они появятся из-за теней */
  overflow: hidden;
  background-color: var(--main-color);
  font-family: var(--main-font);
  color: var(--text-color);
  /* Плавный переход при смене темы (light/dark) */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Настройка изображений: чтобы они не ломали контейнеры */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Наследование шрифтов для элементов форм */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

.size-input {
  width: 100%;
  height: 100%;
}

button,
[interactive="true"] {
  transition:
    transform var(--transition-speed) var(--transition-timing),
    box-shadow var(--transition-speed) var(--transition-timing),
    background-color 0.3s ease;
}


:root {
  --main-font: 'Lexend', sans-serif;

  --transition-speed: 0.1s;
  --transition-timing: ease-out;

  --border-width: 0.15rem;
  --border-radius: 0.75rem;

  --shadow-offset: 0.25rem;
  --shadow: var(--shadow-offset) var(--shadow-offset) 0 0 var(--shadow-color);

  --shadow-hover: 0.4rem 0.4rem 0 0 var(--shadow-color);

  --hover-transform: translate(-0.1rem, -0.1rem);
  --active-transform: translate(var(--shadow-offset), var(--shadow-offset));
}

@media(prefers-color-scheme: light) {
  :root {
    --main-color: #f0e9d9;
    --shadow-color: #3d3c3a;
    --border-color: #3d3c3a;
    --text-color: #151515;
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --main-color: #1a1c1e;

    --shadow-color: #e2e2e2;
    --border-color: #e2e2e2;

    --text-color: #f4f3f3;

    --panel-bg: #2d2f31;
  }
}
