:host {
  display: block;
}

.button-container {
  /* Сброс браузерных стилей */
  background-color: var(--panel-bg);
  cursor: pointer;
  outline: none;
  font-family: inherit;
  padding: 0; /* Контент сам решит, какие у него падинги */

  /* Neo-Brutalism База */
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  /* Центрирование любого контента, который попадет внутрь */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Глобальная анимация из styles.css подхватится автоматически */
  transition: transform var(--transition-speed) var(--transition-timing),
  box-shadow var(--transition-speed) var(--transition-timing);
}

/* Эффекты взаимодействия */
.button-container:not(:disabled):hover {
  transform: var(--hover-transform);
  box-shadow: var(--shadow-hover);
}

.button-container:not(:disabled):active {
  transform: var(--active-transform);
  box-shadow: none; /* Исчезает, когда кнопка "прижата" */
}

/* Состояние Disabled */
.button-container:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
  filter: grayscale(1);
}
