:host{
  display: block;
}

.container{
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 0;
  padding: 0;
}

.breaker {
  background-color: var(--border-color);
  height: 0.15rem;
  border-color: var(--border-color);

  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  width: 95%;
}

.file-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.content{
  flex-grow: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
