:host {
  display: block;
}

.info-content {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.info-label {
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: 800;
}

.info-value {
  font-size: 0.85rem;
  font-weight: 550;
  white-space: nowrap;
}
